.sidebar_wrap {
  .sidebar_top {
    height: 50px;
    background: blue;
    display: flex;
    align-items: center;
    // justify-content: lef;
    padding: 0 0.1rem 0 0.3rem;
    color: white;
  }
  .sidebar_body {
    padding: 0 0.1rem 0 0.3rem;
  }
  .sidebar_footer {
  }
}
