.sidebar_wrap {
  border-right: solid 1px blue;
  .sidebar_top {
    height: 50px;
    background: blue;
    display: flex;
    align-items: center;
    // justify-content: lef;
    padding: 0 0.1rem 0 0.3rem;
    color: white;
  }
  .sidebar_body {
    padding: 0 0.1rem 0 0.3rem;
  }
  .sidebar_footer {
  }
}
.sidebar_wrap.open {
  flex: 0.12;
  transition: flex 0.35s;
}
.sidebar_wrap.closed {
  flex: 0.03;
  transition: flex 0.35s;
}

.mobile_sidebar {
  .sidebar_top {
    // height: 50px;
    // background: blue;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding: 0 0.1rem 0 0.3rem;
    // color: white;
  }
}

.sidebar_top {
  height: 50px;
  background: blue;
  display: flex;
  align-items: center;
  // justify-content: center;
  padding: 0 0.1rem 0 0.3rem;
  color: white;
}
